.background {
  background-image: url(../images/gabriel1.jpg);
  width: 1500px;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}
.start h1 {
  font-style: oblique;
  color: aqua;
  font-size: 60px;
  text-align: center;
}
.start p {
  font-style: italic;
  color: rgb(255, 2, 2);
}
.loves p {
  font-style: italic;
  color: rgb(250, 1, 1);
}
.loves h2 {
  font-style: oblique;
  font-size: 40px;
  color: aqua;
}
.hobbies h3 {
  font-size: 40px;
  font-style: oblique;
  color: aqua;
}
.hobbies p {
  font-style: italic;
  color: rgb(255, 0, 0);
}
.loves h2 li {
  font-style: italic;
  color: rgb(255, 0,0);
}