
.background {
  background-image: url(../images/viena.jpg);
  width: 1500px;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
}


.start h1 {
  font-style: oblique;
  color: rgb(0, 0, 0);
  font-size: 60px;
  text-align: center;
}
.start h2 {
  font-size: 40px;
  color: aqua;
  font-style: oblique;
  text-align: center;
  float: left;
}

.start h3 {
  font-size: 50px;
  color: aqua;
  font-style: oblique;
  text-align: center;
}
.about p {
  font-style: oblique;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: left;
}
.about h2 {
  font-size: 50px;
  color: aqua;
  font-style: oblique;
  text-align: left;
}


.start img {
  float: right;
  padding: 30px;
}














